.git
.gitignore
.phpunit.cache
var/
vendor/
.env.local
.env.local.php
.env.*.local
.env.test
.env.dev
config/secrets/prod/prod.decrypt.private.php
tests/
phpunit.xml
phpunit.dist.xml
Dockerfile
compose*.yaml
*.md
Caddyfile
Domainfile
run.sh
deploy.sh
host.env
composer.phar
